body {
	margin: 0;
}

header {
	top: 0px;
	position: fixed;
	background: #43caff66;
	width: 100vw;
	/* padding: 0 50px; */
}
nav {
	height: 80px;
	background: orange;
	/* padding: 0 50px; */
	/* margin: 0 50px; */
	margin: 15px 12%;
}
div.main-container {
	padding-top: 120px;
	display: grid;
	grid-template-columns: 12% 1fr 12%;
	grid-template-areas: "catalog content ."
						 "footer footer footer";
}
.item {
	border: solid 1px red;
	background: blue;
}
.side-catalog {
	grid-area: catalog;
}
.page-content {
	grid-area: content;
}
footer {
	grid-area: footer;
	background: gray;
}