:root {
	--main-header-bgcolor: #43caff66;
}
body {
	margin: 0;
}
/* Header dinámico con position fixed */
header {
	top: 0px;
	position: fixed;
	background: var(--main-header-bgcolor);
	width: 100vw;
}
/* Header estático con GRID */
div.header {
	grid-area: header;
	background: var(--main-header-bgcolor);
}
nav {
	height: 80px;
	background: orange;
	margin: 15px 12%;
}
div.main-container {
	display: grid;
	grid-template-columns: 12% 1fr 12%;
	grid-template-rows: 110px 1fr 40px;
	grid-template-areas: "header header header"
						 "catalog page_content ."
						 "footer footer footer";
	margin-top: 0;
	min-height: 100vh;
}
section {
	border: solid 1px red;
}
.side-catalog {
	grid-area: catalog;
}
.page-content {
	grid-area: page_content;
}
footer {
	grid-area: footer;
	background: gray;
	padding: 20px;
}